<h1 class="text-center">
  Tic-Tac-Toe
</h1>

<div class="player-holder">
  <input type="text" [(ngModel)]="player1"
  [disabled]="gameManager.activeGame.isRunning"
  class="player-input active-item">
  <span>: X</span>
</div>

<div class="player-holder">
  <input type="text" [(ngModel)]="player2"
  [disabled]="gameManager.activeGame.isRunning"
  class="player-input active-item">
  <span>: O</span>
</div>


<ng-container *ngIf="gameManager.activeGame.isRunning else notRunning">
  <h2 class="text-center">{{gameManager.activeGame.activePlayer.id}} turn
    ({{gameManager.activeGame.activePlayer.symbol}})</h2>
</ng-container>


<ng-template #notRunning>
  <ng-container *ngIf="gameManager.activeGame.isEnded; else gameNotStarted">
    <ng-container *ngIf="!gameManager.activeGame.winner;else winner">
      <h2 class="text-center">It's a draw.</h2>
    </ng-container>
  </ng-container>

</ng-template>

<ng-template #gameNotStarted>
  <h2 class="text-center">The game hasn't started, yet.</h2>
</ng-template>

<ng-template #winner>
  <h2 class="text-center">{{gameManager.activeGame.winner.id}} won the game.</h2>
</ng-template>

<app-board></app-board>

<div class="text-center">
  <button type="button" class="active-item" (click)="resetGame()">Reset</button>
  <button type="button" class="active-item" (click)="startGame()">Start</button>
</div>
